.isi{
    margin-top: 170px;
}
.border-img{
    border: 1px solid grey;
}
.m-top{
    margin-top: 30px;
}
.bg-cram{
    background-color: #F5EBD0;}

mark{
    background-color: rgb(60, 255, 0);
    border-radius: 10px;
    opacity: 50%;
}
.bd-left{
    border-left: 1px solid black;
    border-top: 0px solid #F5EBD0 ;
    border-bottom: 0px solid #F5EBD0;
    border-right: 0px solid #F5EBD0;
    border-style: 1px solid #F5EBD0;
}
.bg-utama{
    background-color: #B68C3F ;
}
.primary-color{
    color: #B68C3F ;
}
