.biteki{
    height: 70px;
    margin-top: 15px;
    margin-bottom: 40px;
}
body {
    background: #B68C3F;
    font-family: Arial, Helvetica, sans-serif
}

.card-heading {
    font-weight: bold;
    font-size: 19px;
}
.card-subheading {
    font-size: 14px;
}

.card {
    width: 400px;
    height: 400px;
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#email1 {
    border: none;
    border-radius: 10px
}

.fone {
    padding-left: 30px
}

#email1{
    background-color: #eee !important
}

.fone input {
    width: 120%;
    background: rgba(165, 147, 69, 0.075)
}

.ftwo input {
    width: 120%;
    background: rgba(165, 147, 69, 0.075)
}

.fthree {
    padding-left: 30px;
    padding-right: 45px
}

.btn{
    height: 40px;
}

.fthree input {
    background-color: rgba(165, 147, 69, 0.075)
}

.ffour input {
    width: 120%;
    background-color: rgba(165, 147, 69, 0.075)
}

.ffive input {
    width: 120%;
    background-color: rgba(165, 147, 69, 0.075)
}

.rthree {
    padding-top: 1px
}

.para1 {
    height: 10px;
    font-size: 12px
}

.para2 {
    font-size: 12px
}

.btn-secondary {
    border-radius: 8px;
    background: #B68C3F;
    width: 120px
}

.btn-primary span {
    font-size: 15px
}

.google{
    border-color: rgb(133, 133, 133);
    margin: 3px;
}

.facebook{
    border-color: rgb(133, 133, 133);
    margin: 3px;
}

label{
    font-size: 13px;
}

.btnreg{
    margin-left:9.2em;
}

.imgR{
    height: 24.9rem;
    /* margin-left: 14rem; */
    margin-top: 9px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


@media screen and (max-width: 768px) {
    /* .fone input {
        width: 90%
    } */

    .ftwo input {
        width: 86%
    }

    .fthree {
        width: 110%
    }

    .ffour input {
        width: 90%
    }

    .ffive input {
        width: 86%
    }
}