.navbar{
    background-color: #B68C3F;
}
.search{
    border-radius: 5px;
    border: 0;
    height: 40px;
}
.login{
    border-radius: 5px;
}
.signin{
    border-radius: 5px;
}

.logo{
    height: 70px;
}
.nav-link{
    margin-left: 0;
    margin-right: 30px;
}
.table{
    margin-bottom: 0px;
}

.vertical-line{
    border-left: 2px solid white;
    height: 40px;
}

.footerinput {
    padding: 15px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #C4C4C4;
}
.footerdaftar{
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #F9C303;

}

#navbarNav ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

#navbarNav ul li a:hover{
    background: rgb(165, 98, 12);
    color: white;
}

#navbarNav li div{
    display: none;
}

#navbarNav li:hover div{
    display: block;
    position: absolute;
}
.bg-dropdown{
    background-color: #B68C3F;
}
#bg-item{
    width: 170px;
    background-color: #F5EBD0;
    border-radius: 10px;
    margin: 7px;
}

